import * as React from 'react';
import Svg, { %tags% } from 'react-native-svg';
import { SvgProps } from '../../types/types';

const %name%: React.FC<SvgProps> = (props) => {
    return (
        %svg%
    );
};

export default %name%;
